# OS files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# Logs and temp files
*.log
*.tmp
*.temp

# Environment files
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Node modules
node_modules/
